@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.Name</h4>
<h5>@ViewBag.Name</h5>
<h6>@ViewBag.Name</h6>


<p>Use this area to provide additional information.</p>
<p>Abhilash M.</p>
<p>Amar Rao S.</p>
